# pandas 라이브러리를 이용한 dataframe 실습

## 1. 성적을 표로 표현해 보자!

In [4]:
import pandas as pd
grade_list = [[90,80,70], [80,90,85], [60,85,100]]

df = pd.DataFrame(grade_list, columns=['국어', '수학', '영어'], index=['디콘', '넛', '하이드']) #리스트 데이터를 표 형태(2차원)로 바꾸는 함수
df

     국어  수학   영어
디콘   90  80   70
넛    80  90   85
하이드  60  85  100

### 1-1. 다른 방법은?

In [19]:
# Series 함수 이용하기
grade_list = [
    pd.Series([90,80,70]),
    pd.Series([80,90,85]),
    pd.Series([60,85,100])
]
df2 = pd.DataFrame(grade_list,index=['디콘', '넛', '하이드'])
df2.columns = ['국어', '수학', '영어'] 
df2

     국어  수학   영어
디콘   90  80   70
넛    80  90   85
하이드  60  85  100

### 1-2.딕셔너리를 이용하기

In [26]:
import numpy
name_index = ['디콘', '넛', '하이드']
korean_score = [90,80,70]
math_score = [80,90,85]
english_score = [70,85,100]

dict1 = {    #딕셔너리로도 데이터프레임을 표현할 수 있다! 딕셔너리의 key가 column의 이름이 된다.
    '국어':korean_score,
    '수학':math_score,
    '영어':english_score
}

df3 = pd.DataFrame(dict1, index=name_index)
df3

     국어  수학   영어
디콘   90  80   70
넛    80  90   85
하이드  70  85  100