# 라면 데이터 분석

In [10]:
import pandas as pd

data = pd.read_csv('ramen.csv', index_col=0)
data

data['신라면']   # pandas.core.series.Series 1차원 데이터
data[['신라면']]  # pandas.core.frame.DataFrame 2차원 데이터

data[['신라면','너구리']]  #column 인덱싱

data['2004년':'2019년']

           신라면  너구리
남성 13-18세   39    4
남성 19-29세   46    5
남성 30대      40    6
남성 40대      45    1
남성 50대      44    1
남성 60대 이상   49    3
여성 13-18세   29    4
여성 19-29세   43    1
여성 30대      40    1
여성 40대      36    5
여성 50대      50    2
여성 60대 이상   34    3
2004년       49    5
2014년       43    7
2019년       42    3