# 라면 데이터 분석

In [29]:
import pandas as pd

data = pd.read_csv('ramen.csv', index_col=0)
data

data['신라면']   # pandas.core.series.Series 1차원 데이터
data[['신라면']]  # pandas.core.frame.DataFrame 2차원 데이터

data[['신라면','너구리']]  #column 인덱싱

data['2004년':'2019년']   # 인덱스 범위 슬라이싱

data.loc['여성 30대', '삼양라면']   #행과 열 이름으로 원하는 데이터 찾기
data.loc['여성 30대',:]   #콜론을 붙이면 전체 인덱싱
data.iloc[1,1]  #인덱스 번호로 원하는 데이터 찾기

#남성 13-18세와 여성 13-18세의 진라면 선호도 추출하기
data.loc['남성 13-18세', '진라면'] #23
data.loc['여성 13-18세', '진라면'] #12
#한번에 추출하는 방법
data.loc[['남성 13-18세', '여성 13-18세'], '진라면']

#조건에 맞는 데이터 추출
data.loc[data['안성탕면']>10]

           신라면  진라면  삼양라면  안성탕면  너구리  육개장 사발면
남성 40대      45   17    17    11    1        3
남성 50대      44   12    12    12    1        2
여성 50대      50    8     8    13    2        1
여성 60대 이상   34   10    19    17    3        2
2004년       49    3    18    13    5        0