# 라면 데이터 분석

In [2]:
import pandas as pd

data = pd.read_csv('ramen.csv', index_col)

data

   Unnamed: 0  신라면  진라면  삼양라면  안성탕면  너구리  육개장 사발면
0   남성 13-18세   39   23    23     6    4        0
1   남성 19-29세   46   13    13     4    5        0
2      남성 30대   40   20    20     9    6        0
3      남성 40대   45   17    17    11    1        3
4      남성 50대   44   12    12    12    1        2
5   남성 60대 이상   49    5     5     9    3        0
6   여성 13-18세   29   12    12     4    4        5
7   여성 19-29세   43   16    16     6    1        2
8      여성 30대   40   18    18     7    1        0
9      여성 40대   36   19    19     7    5        0
10     여성 50대   50    8     8    13    2        1
11  여성 60대 이상   34   10    19    17    3        2
12      2004년   49    3    18    13    5        0
13      2014년   43    9    13     9    7        0
14      2019년   42   14    12    10    3        1