# 아이돌 데이터 분석

## 데이터 관리하기

In [15]:
# 아이돌 데이터 파일 불러오기
# 아이돌 그룹명을 인덱스로 지정하기

import pandas as pd

data = pd.read_csv('idol_data.csv', index_col=0)

#잘못된 데이터 수정하기
data.loc['EXO', '데뷔년도'] = '2012년'
data.loc['에스파', '데뷔년도'] = '2020년'
data.loc['에스파', '데뷔곡'] = 'Black Mamba'

#한번에 수정하기
data.loc['에스파'] = ['2020년', 'Black Mamba', '-']
data['좋아하는 곡'] = ['소우주', 'Cheer Up', '우리집', 'Next Level', '으르렁']

#데이터 추가하기
data.loc['SG워너비'] = ['2004년', 'Timeless', '라라라']
data['멤버수'] = 0
data['멤버수'] = [7,9,6,4,9,3]
data

        데뷔년도            데뷔곡      좋아하는 곡  멤버수
그룹명
방탄소년단  2013년  No More Dream         소우주    7
트와이스   2015년      OOH-AHH하게    Cheer Up    9
2PM    2008년    10점 만점에 10점         우리집    6
에스파    2020년    Black Mamba  Next Level    4
EXO    2012년           MAMA         으르렁    9
SG워너비  2004년       Timeless         라라라    3

## 데이터 파악하기

In [26]:
data.info()  # 데이터에 대한 전반적인 정보
data.shape  # (행, 열)
data['멤버수'].unique()  # column 데이터의 고유값
data['멤버수'].value_counts()  # column이 가진 각 데이터가 나온 횟수
data.head(2)   #데이터프레임의 첫 행부터 n개의 데이터
data.tail(2)   #데이터프레임의 끝 행부터 끝에서 n번째까지의 데이터
data.sort_values(by='데뷔년도', ascending=True)   #조건에 맞게 데이터를 정렬
data.loc[data['좋아하는 곡'].str.contains('소우주')]

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 방탄소년단 to SG워너비
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   데뷔년도    6 non-null      object
 1   데뷔곡     6 non-null      object
 2   좋아하는 곡  6 non-null      object
 3   멤버수     6 non-null      int64
dtypes: int64(1), object(3)
memory usage: 412.0+ bytes

        데뷔년도            데뷔곡 좋아하는 곡  멤버수
그룹명
방탄소년단  2013년  No More Dream    소우주    7